@model IEnumerable<ComplexManagementSystem.Models.BlogPost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero">
    <div class="outter">
        <div class="inner">
            <div class="hero-content">
                <div class="container">
                    <span class="little">Latest Blogs</span>
                    <h1 class="subhero-title">
                        Keep up to date with our latest news!<br>
                        <span>Take a look</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model != null && Model.Count() > 0)
{
    @foreach (var blog in Model)
    {
        <section class="news-list atop">
            <div class="container">
                <div class="row">
                    <!-- Post -->
                    <article class="col-lg-12">
                        <div class="post-image">
                            <img src="~/images/@blog.PhotoPath1" alt="">
                        </div>
                        <div class="article-content">
                            <div class="article-top">
                                <div class="entry-date">
                                    <a href="#">@blog.DateCreated</a>
                                </div>
                            </div>
                            <div class="col-lg-8 offset-lg-2 article-bottom text-center">
                                <a href="news-detail.html" data-type="ajax-load"><h2 class="article-title">@blog.Topic</h2></a>
                                <p>@blog.MiniParagragh</p>
                                <a class="site-btn top_30" asp-action="NewsDetails" asp-route-id="@blog.Id">Read Blog</a>
                            </div>
                        </div>
                    </article>
                </div> <!-- row end -->
            </div>  <!-- container end-->
        </section>
    }
}
else
{

    <section class="news-list atop">
        <div class="container">
            <div class="row">
                <article class="col-lg-12">
                    <br />
                    <br />
                    <div class="container">
                        <div class="alert alert-dark" role="alert">
                            Go To The Admin Dashboard area and add one Property Listing.
                        </div>
                    </div>
                    <br />
                    <br />

                </article>
            </div>
        </div>
    </section>
}